html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: #444;
  font-weight: lighter;
}

button {
  padding: 0.2em;
  font-size: 14px
}

ul {
  list-style-type: none;
  margin-left: 1em;
  padding: 0;
}

li {
  cursor: pointer;
  position: relative;
  left: 0;
  transition: all 0.2s ease;
}

li:hover {
  color: #369;
  background-color: #EEE;
  left: .2em;
}

/* route-link anchor tags */
a {
  padding: 5px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

a:visited, a:link {
  color: #444;
}

a:hover {
  color: white;
  background-color: #1171a3;
}

a.router-link-active {
  color: white;
  background-color: #52b9e9;
}

.selected {
  background-color: #EEE;
  color: #369;
}

.badge {
  font-size: small;
  color: white;
  padding: 0.1em 0.7em;
  background-color: #369;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -1px;
}

.page-content--background {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-image: url("https://c1.staticflickr.com/9/8678/15528509944_7b68cb8dce_b.jpg");
}

.page-content__background-mask--top {
  width: 100%;
  background: #1651ab;
  box-shadow: 0 0 100px 200px rgba(22, 81, 171, 0.8);//rgba(17, 52, 133, 0.8);;
  position: absolute;
}

.page-content__background-mask--bottom {
  width: 100%;
  background: #1651ab;
  box-shadow: 0 0 200px 300px rgba(22, 81, 171, 0.8);//rgba(17, 52, 133, 0.8);;
  position: absolute;
  bottom: 0;
}

.page-content__container {
  z-index: 1;
  position: absolute;
}